<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="{{_res_path}}/commit/index.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div class="container" id="container">
      <div class="info-section">
        <div class="platform-name">
          {{if platform === 'github'}}
          <h2>GitHub 仓库更新推送</h2>
          {{else if platform === 'gitee'}}
          <h2>Gitee 仓库更新推送</h2>
          {{else if platform === 'gitcode'}}
          <h2>GitCode 仓库更新推送</h2>
          {{else if platform === 'cnb'}}
          <h2>Cnb 仓库更新推送</h2>
          {{else}}
          <h2>GitHub 仓库更新推送</h2>
          {{/if}}
        </div>

        <div class="commit-card">
          <div class="repo-header">
            <div class="platform-icon">
              {{if platform === 'github'}}
              <img src="{{_res_path}}/icons/github.svg" alt="GitHub Logo" />
              {{else if platform === 'gitee'}}
              <img src="{{_res_path}}/icons/gitee.svg" alt="Gitee Logo" />
              {{else if platform === 'gitcode'}}
              <img src="{{_res_path}}/icons/gitcode.svg" alt="Gitcode Logo" />
              {{else if platform === 'gitcode'}}
              <img src="{{_res_path}}/icons/cnb.svg" alt="Cnb Logo" />
              {{else}}
              <img src="{{_res_path}}/icons/github.svg" alt="GitHub Logo" />
              {{/if}}
            </div>
            <div class="repo-info">
              <div class="repo-name">{{commit.owner}}/{{commit.repo}}</div>
              <div class="commit-sha-info">
                <div class="commit-sha-icon">
                  <img src="{{_res_path}}/icons/commit.svg" alt="Commit Icon" />
                </div>
                <span class="commit-sha">{{ commit.sha }}</span>
              </div>
            </div>
            <div class="branch-info">
              <div class="branch-icon">
                <img src="{{_res_path}}/icons/branch.svg" alt="Branch Icon" />
              </div>
              <span class="branch-name">{{ commit.branch }}</span>
            </div>
          </div>

          <div class="commit-info">
            <div class="avatar-info">
              {{if commit.commit.author.name === commit.commit.committer.name }}
              <div class="author-avatar">
                <img
                  src="{{ commit.commit.author.avatarUrl }}"
                  alt="Author Avatar"
                />
              </div>
              <span>由 {{ commit.commit.author.name }} 提交</span>
              <span class="time-info">{{ commit.commitDate }}</span>
              {{else}}
              <div class="avatar-group">
                <div class="author-avatar">
                  <img
                    src="{{ commit.commit.author.avatarUrl }}"
                    alt="Author Avatar"
                    title="作者"
                  />
                </div>
                <div class="committer-avatar">
                  <img
                    src="{{ commit.commit.committer.avatarUrl }}"
                    alt="Committer Avatar"
                    title="提交者"
                  />
                </div>
              </div>
              <span
                >由 {{ commit.commit.author.name }} 编写，并由 {{
                commit.commit.committer.name }} 提交</span
              >
              <span class="time-info">{{ commit.commitDate }}</span>
              {{/if}}
            </div>
          </div>

          <div class="commit-message">
            <div class="commit-title">
              <div class="commit-icon">
                <img src="{{_res_path}}/icons/commit.svg" alt="Commit Icon" />
              </div>
              <span>{{@commit.title}}</span>
              <div class="code-changes">
                <span class="changes-added">+{{ commit.stats.additions }}</span>
                <span class="changes-deleted"
                  >-{{ commit.stats.deletions }}</span
                >
                <span class="changes-divider">•</span>
                <span>{{ commit.changeFiles }} 个文件被更改</span>
              </div>
            </div>
            <div class="commit-divider"></div>
            {{if commit.body }}
            <div class="commit-content">{{@commit.body}}</div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
