@font-face {
  font-family: 'Douyin Sans';
  src: url('../fonts/DouyinSansBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Color Emoji';
  src: url('../fonts/NotoColorEmoji-Regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.markdown-body {
  font-family: 'Douyin Sans', 'Noto Color Emoji', sans-serif;
  box-sizing: border-box;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
