<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="{{_res_path}}/issue/index.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div class="container" id="container">
      <div class="info-section">
        <div class="platform-name">
          {{if platform === 'github'}}
          <h2>GitHub 议题变更推送</h2>
          {{else if platform === 'gitee'}}
          <h2>Gitee 议题变更推送</h2>
          {{else if platform === 'gitcode'}}
          <h2>GitCode 议题变更推送</h2>
          {{else if platform === 'cnb'}}
          <h2>Cnb 议题变更推送</h2>
          {{else}}
          <h2>GitHub 议题变更推送</h2>
          {{/if}}
        </div>

        <div class="issue-card">
          <div class="repo-header">
            <div class="platform-icon">
              {{if platform === 'github'}}
              <img src="{{_res_path}}/icons/github.svg" alt="GitHub Logo" />
              {{else if platform === 'gitee'}}
              <img src="{{_res_path}}/icons/gitee.svg" alt="Gitee Logo" />
              {{else if platform === 'gitcode'}}
              <img src="{{_res_path}}/icons/gitcode.svg" alt="Gitcode Logo" />
              {{else if platform === 'cnb'}}
              <img src="{{_res_path}}/icons/cnb.svg" alt="Cnb Logo" />
              {{else}}
              <img src="{{_res_path}}/icons/github.svg" alt="GitHub Logo" />
              {{/if}}
            </div>
            <div class="repo-info">
              <div class="repo-name">{{issue.owner}}/{{issue.repo}}</div>
            </div>
          </div>

          <div class="issue-info">
            <div class="avatar-info">
              <img src="{{issue.user.avatarUrl}}" alt="Author Avatar" />
              <span>由 {{issue.user.name}} 创建</span>
              {{if issue.state === 'Opened'}}
              <span class="status-tag opened">已开放</span>
              {{else}}
              <span cla ss="status-tag closed">已关闭</span>
              {{/if}}
              <span class="time-info">{{issue.issueDate}}</span>
            </div>
          </div>

          <div class="issue-message">
            <div class="issue-title">
              <div class="issue-icon">
                <img src="{{_res_path}}/icons/issue.svg" alt="Issue Icon" />
              </div>
              <span>{{@issue.title}}</span>
            </div>
            <div class="issue-divider"></div>
            {{if issue.body }}
            <div class="issue-content">{{@issue.body}}</div>
            · {{/if}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
