name: Build Package
on:
  workflow_call:
    inputs:
      version:
        type: string
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 bun
        uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2.1.0
        with:
          bun-version: latest

      - name: 构建plugin
        run: |
          bun install
          bun run build
          mkdir -p ${{ runner.temp }}/temp/plugin
          cp -r package.json CHANGELOG.md README.md LICENSE config lib ${{ runner.temp }}/temp/plugin

      - name: 上传plugin构建产物
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: plugin
          path: ${{ runner.temp }}/temp/plugin
