name: Build Package
on:
  workflow_call:
    inputs:
      version:
        type: string
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: 构建plugin
        run: |
          bun install
          bun run build
          mkdir -p ${{ runner.temp }}/temp/plugin
          cp -r package.json CHANGELOG.md README.md LICENSE resources config lib ${{ runner.temp }}/temp/plugin

      - name: 上传plugin构建产物
        uses: actions/upload-artifact@v4
        with:
          name: plugin
          path: ${{ runner.temp }}/temp/plugin
