# 问题相似性分析
name: Issues Similarity Analysis

on:
  issues:
    types: [opened, edited]

permissions:
  issues: write

jobs:
  similarity-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: 获取token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: 获取用户ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: analysis
        uses: actions-cool/issues-similarity-analysis@v1
        with:
          token: ${{ steps.app-token.outputs.token }}
          filter-threshold: 0.5
          comment-title: '### 似乎有相似的问题'
          comment-body: '${index}. ${similarity} #${number}'
          show-footer: false
          show-mentioned: true
          since-days: 730
